<!doctype html>
<html>
<head>
  <title>Todo List</title>
</head>
<body>
  <h1>Todo App</h1>
  <nav>
    <ul>
      <li><a href="/new">New</li>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>

<%= yield %>
</body>
</html>