<div id="new">
<form method="post" action="/create">
  <fieldset>
    <field for="title">Title:</field>
    <div><input type="text" name="title" /></div>
    <field for="description">Description:</field>
    <div><textarea name="description"></textarea></div>
    <button>Add</button>
</form>
</div>